.alertTitle {
  font-family: op !important;
  font-size: 3rem !important;
  color: white !important;
  margin: 0 !important;
}
.alertPopup{
  border: .2rem solid grey !important;
  background: black !important;
}

.alertContent{
  font-family: op !important;
  font-size: 2rem !important;
  color: white !important;
  padding: 1.5rem !important;
}

.swal2-styled.swal2-confirm.alertConfirm{
  background-color: grey;
  font-family: op;
}

.swal2-styled.swal2-confirm.alertConfirm:hover{
  color: black;
}

@media (max-width: 720px){
  .alertTitle{
    font-size: 2rem !important;
  }

  .alertContent{
    font-size: 1rem !important;
    padding: .75rem;
  }
}