.card {
  font-family: Lato;
  text-align: center;
  background-color: black;
  color: white;
  border: .2rem solid white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  max-width: 7rem;
  border-radius: 5%;
  min-height: 13rem;
}

.card:hover {
  cursor: pointer;
  color: green;
  border-color: green;
}
.card-icon {
  font-size: 7rem;
  width: 7rem;
  height: 5rem;
  border: 1px solid white;
  margin-top: 1rem;
}

.card-caption {
  margin-top: 1rem;
}