.card {
  font-family: Lato;
  text-align: center;
  background-color: black;
  color: white;
  border: .2rem solid white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  max-width: 7rem;
  border-radius: 5%;
  min-height: 13rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.card:hover {
  cursor: pointer;
  color: green;
  border-color: green;
}
.card-icon {
  font-size: 7rem;
  width: 7rem;
  height: 5rem;
  border: 1px solid white;
  margin-top: 1rem;
}

.card-caption {
  margin-top: 1rem;
}


@media (max-width: 720px){
  .card {
    padding: .5rem .25rem .5rem .25rem;
    max-width: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    font-size: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-icon {
    font-size: 3.5rem;
    width: 3.5rem;
    height: 2.25rem;
    margin-top: .5rem;
  }
  .card-icon {
    margin-top: .25rem;
  }
  .card-caption {
    margin-top: .25rem;
  }
}