.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: white;
  background-color: black;
  padding: .5rem;
}

.brand{
  display: flex;
  align-items: center;
  justify-self: center;
  grid-column: 1/3;
}

.brand-logo {
  width: 2.5rem;
  margin-left: 1.5rem;
}

.brand-title{
  font-family: ktn;
  font-size: 2.75rem;
  margin-left: 1rem;
}

.scores {
  font-family: Lato;
  font-size: 1.2rem;
  display: flex;
  grid-column: 3/6;
}

.scores span {
  margin-left: 1rem;
}

.scores-level {
  margin-right: 3rem;
  border-bottom: .1rem solid white;
}

.scores-best-score {
  margin-left: 3rem;
}